.textGreen, .textBlue, .textRed {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    transition: 0.3s ease-out;
}
.textGreen {
    color: #0f766e;
    background-color: #f0fdfa;
    border: 0.25px solid #0f766e;
}
.textBlue {
    color: #0369a1;
    background-color: #f0f9ff;
    border: 0.25px solid #0369a1;
}
.textRed {
    color: #be185d;
    background-color: #fdf2f8;
    border: 0.25px solid #be185d;
}

.icon, .disabledIcon {
    display: flex;
    padding: 5px 5px;
    font-size: 14px;
    color: #555;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-out;
}
.icon:hover {
    background-color: rgba(200, 200, 200, 0.2500);
}
.icon:active {
    background-color: rgba(200, 200, 200, 0.500);
}

.disabledIcon {
    opacity: 0.25;
    cursor: default;
}