.root {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: 0.5s;
}
.root:hover {
    background-color: #f5f5f5;
}

.root a {
    display: flex;
    width: 100%;
}

.inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.inner img {
    max-width: 35px;
    max-height: 35px;
}

.info {
    font-size: 14px;
    color: #666;
}

@media (max-width: 800px) {
    .name {
        font-size: 15px;
    }
    .info {
        font-size: 12.5px;
    }
}