.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 15px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: 0.5s;
}
.root:hover {
    background-color: #eee;
}
.root:active {
    background-color: #e0e0e0;
}

.category, .price {
    font-size: 14px;
    color: #666;
}