.root {
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    max-width: 100%;
    padding: 15px;
    border-radius: 30px;
}

.category {
    color: #444;
    text-align: center;
}

.slider {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    border-radius: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

}
.slider::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    border-radius: 20px;
    background-color: #243832;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.4);

}

.category {
    font-size: 22.5px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 12.5px;
    z-index: 1;
}